.nav-bar {
  background-color: #00F5D4;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.nav-bar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  background-color: #9B5DE5;
  color: black;
}

.nav-bar a[href="#ads"]:hover {
    background-color: #F15BB5;
    color: black;
}

.nav-bar a.active {
  background-color: #04AA6D;
  color: white;
}